<!DOCTYPE html>
<html lang ="en">
<head>
        <meta charset="utf=8">
        <meta name ="viewport" content ="width=device-width, initial-scale=1.0">
        <title> Login y formulario de registro -Juan Evangelista Perez Ricardo </title>
        <link rel="stylesheet" href= "/estilos.css">
</head>
<body>
    <main>
            <form id="login" action="/ingresar" method="post" class="formularioLogin">
                <h2>Iniciar sesion</h2>
                <input name="correo" type="text" placeholder="Correo Electronico">
                <input name="password" type="password" placeholder="Contraseña">
                <div class="button-group">
                    <button type="submit" id="btn_ingresar">Ingresar</button>
                    <button id="btn_regresar">regresar</button>
                </div>
            </form>
    </main>
    <script src="/js/login.js"></script>
</body>
</html>